#liveContainer {
   height: auto;
   margin: 40px;
   margin-right: 0px;
   padding: 40px 70px;
   padding-top: 45px;
   box-shadow: 0px 10px 40px rgba(20, 40, 60, 0.04);
   background-color: var(--foregroundColor);
   max-width: 480px;
   z-index: 2;
   overflow: hidden;

   @media (prefers-color-scheme: dark) {
      box-shadow: none;
      /*background-color: transparent;
      box-shadow: inset 0px 0px 0px 2px var(--borderColor);*/
   }
}

#weatherImage {
   position: absolute;
   left: 0px;
   top: 0px;
   width: 100%;
   height: 38%;
   object-fit: cover;
   mask-image: linear-gradient(to bottom, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
   z-index: -10;
}

#settingsButton {
   width: 45px;
   height: 45px;
   display: block;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 10px;
   box-sizing: border-box;
   border-radius: 50%;
   transition: 0.2s;
   margin-top: 20px;
   cursor: pointer;
}
#settingsButton img {
   pointer-events: none;
   width: 100%;
   height: 100%;
   background-color: rgb(255, 255, 255);

   -webkit-mask-image: url("/assets/images/settings.png");
   -webkit-mask-repeat: no-repeat;
   -webkit-mask-size: contain;
   -webkit-mask-position: center;

   mask-image: url("/assets/images/settings.png");
   mask-repeat: no-repeat;
   mask-size: contain;
   mask-position: center;
}

@media (pointer: fine) {
   #settingsButton:hover {
      box-shadow: inset 0px 0px 0px 2px var(--textColor);
   }
}

#dateTimeContainer {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   position: relative;
   margin: 56px 0px;
}

#time {
   font-size: 260%;
   font-family: boldest;
   color: rgb(255, 255, 255);
   text-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

#date {
   margin-top: 0px;
   opacity: 0.36;
   font-family: bold;
   color: rgb(255, 255, 255);
}

/*#liveBadgeBox {
   padding: 8px 12px;
   margin: 30px 0px;
   border-radius: 11px;
   display: flex;
   align-items: center;
   justify-content: center;
   /*border: 2px solid rgba(255, 34, 133, 0.15);
   background-color: rgba(255, 255, 255, 0.15);
   border: 2px solid var(--borderColor);
}

#liveBadgeBox > div {
   width: 9px;
   height: 9px;
   border-radius: 50%;
   background-color: rgb(255, 34, 133);
   background-color: rgb(0, 190, 140);
   margin-right: 7px;
   animation: blinking 1s infinite;
}

@keyframes blinking {
   0%,
   100% {
      opacity: 1;
   }
   50% {
      opacity: 0.2;
   }
}

#liveBadgeBox > t {
   /*color: rgb(255, 34, 133);
   color: var(--textColor);
   font-family: boldest;
   font-size: 80%;
   letter-spacing: 1px;
}*/
